{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  {% for partner in partners %}
  <div class="col-sm-4 cards">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>{{ partner.name }}</strong></h5>
        <p class="card-text">Info:<br> {{ partner.summary }}</p>
        <p class="card-text">Discount: Up to {{ partner.discount }}%</p>
        <p class="card-text">Valid Until: {% if partner.deal_validity %}
                                                 {{ partner.deal_validity }}
                                          {% else %} 
                                                 Does Not Expire
                                          {% endif %}</p>
        <a href="{{ partner.link }}" target="_blank" class="btn btn-success">Click Here to Shop</a>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="{% url 'edit_partners' partner.id %}" class="btn btn-danger">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}