{% extends 'base.html' %} 
{% block content %}
<div class="row">
    <aside class="col-lg-6 col-md-6" align="center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Healthy body, healthy mind</h5>
                <p class="card-text">I am here to guide you through your journey to become the best version of yourself!</p>
                <a href="{% url 'programs' %}" class="card-link">Checkout our programs</a>
            </div>
        </div>
    </aside>
</div>
<div class="row justify-content-end">
    <section class="col-lg-6 col-md-6" align="center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Your trainer</h3>
                <p>Niina Tepp, creator and owner of Sculpt Studio</p>
            </div>
            <img src="..." alt="...">
        </div>
    </section>
</div>

{% endblock %}