{% extends 'base.html' %}
{% block content %}
<div class="row">
    <aside class="col-lg-6 col-md-6" align="center">
        <div class="card">
            <div class="card-body">
                <p class="card-text">"Sculpt Studio is a dream of mine and my passion project that aims to provide everyone with world class training programs that are not only extremely effective but are also fun to do.
                    I am certified personal trainer, have been a profession dancer and i really love healthy living and fitness. A real passion of mine is pilates and as i could not find any suitable online programs for myself i decided that i can create
                    the best online pilates program out there. <br> So dont hesitate to have a look at the programs available or get in contact with me and let's be healthy together!"
                </p>
                <a href="{% url 'programs' %}" class="card-link">Checkout our programs</a>
            </div>
        </div>
    </aside>
    <section class="col-lg-6 col-md-6" align="center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Niina Tepp</h3>
                <p>Fitness fanatic, trainer, creator and owner of Sculpt Studio</p>
                <img src="{{ MEDIA_URL }}about_pic.png" alt="site owner picture" height="50%" width="50%">
            </div>
        </div>
    </section>
</div>


{% endblock %}