{% extends 'base.html' %} 
{% block content %}
<div class="row justify-content-center">
    <section class="col-lg-6 col-md-6" align="center">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Welcome to Sculpt Studio</h1>
                <p>Your personal fitness experience</p>
                <p class="card-text">I am here to guide you through your journey to become the best version of yourself!</p>
                <a href="{% url 'about_me' %}" class="card-link">Learn more about us</a>
                <a href="#" class="card-link">Testimonials</a>
            </div>
        </div>
    </section>
</div>
<div class="row">
    <div class="col">
        <img src="/media/woman_gym.jpg" alt="woman in gym" height="auto" width="100%">
    </div>
</div>

{% endblock %}