{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
          <h3 align="center">Welcome {{ user.first_name }}, to your account!</h3>
    </div>
</div>
<nav class="nav nav-pills nav-fill">
  {% if request.user.is_superuser%}
  <a class="nav-item nav-link" href="{% url 'account' %}">My Profile</a>
  <a class="nav-item nav-link" href="{% url 'add_program'%}">Add Program</a>
  <a class="nav-item nav-link" href="{% url 'programs'%}">Edit Programs</a>
  <a class="nav-item nav-link" href="{% url 'add_partners'%}">Add Partners</a>
  <a class="nav-item nav-link" href="">Edit Partners</a>
  <a class="nav-item nav-link" href="{% url 'user_selection' %}">User Management</a>
  {% else %}
  <a class="nav-item nav-link" href="{% url 'account' %}">My Profile</a>
  <a class="nav-item nav-link" href="#">My Purchases</a>
  <a class="nav-item nav-link" href="{% url 'add_testimonials' %}">Leave a Review</a>
  <a class="nav-item nav-link" href="{% url 'book_meeting' %}">Book a Meeting</a>
  {% endif %}
</nav>
<hr>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/madis-tepp/60min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

{% endblock %}