{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
          <h3 align="center">Welcome {{ user.get_short_name }}, to your account!</h3>
    </div>
</div>
<nav class="nav nav-pills nav-fill">
  {% if request.user.is_superuser %}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-item nav-link" href="{% url 'add_program'%}">Add Program</a>
  <a class="nav-item nav-link" href="{% url 'programs'%}">Edit Programs</a>
  <a class="nav-item nav-link" href="">Add Partners</a>
  <a class="nav-item nav-link" href="">Edit Partners</a>
  <a class="nav-item nav-link" href="{% url 'user_selection' %}">User Management</a>
  {% else %}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-item nav-link" href="#">My Purchases</a>
  <a class="nav-item nav-link" href="{% url 'book_meeting' %}">Book a Meeting</a>
  {% endif %}
</nav>
<hr>


<div class="row justify-content-center">
    <div class="col-8">
        <h3 class="mb-4">Your user details:</h3>
        <label>Username</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.username }}"> 
        <label>First Name</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.first_name }}"> 
        <label>Last Name</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.last_name }}"> 
        <label>Email / </label>
        <a class="" href="{% url 'account_email' %}">Update E-mail</a>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.email }}"> 
        <label>Date Joined</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.date_joined }}"> 
        <label>Address</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.profile.address }}"> 
        <label>Country</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.profile.country }}"> 
        <label>Weight (KG)</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.profile.weight }}"> 
        <label>Height (CM)</label>
        <input class="textinput textInput form-control mb-2" readonly value="{{ user.profile.height }}"> 
        <label>My Goal</label>
        <textarea class="textinput textInput form-control mb-2" readonly>{{ user.profile.goal }}</textarea>
        <p class="mb-4 mt-4 font-weight-bold font-italic">Update information:</p>
        <textfield class="textinput textInput form-control mb-2" readonly>
            <form action="{% url 'account' %}" method="POST">
                {% csrf_token %}
                {{ user_form | crispy }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </texfield> 
    </div>
</div>



{% endblock %}