{% extends 'base.html' %}

{% block content %}

<nav class="nav nav-pills nav-fill">
  {% if request.user.is_superuser%}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
  <a class="nav-item nav-link" href="{% url 'add_program'%}">Add Program</a>
  <a class="nav-item nav-link" href="{% url 'programs'%}">Edit Programs</a>
  <a class="nav-item nav-link" href="">Add Partners</a>
  <a class="nav-item nav-link" href="">Edit Partners</a>
  <a class="nav-item nav-link" href="">User Management</a>
  {% else %}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
  <a class="nav-item nav-link" href="#">My Purchases</a>
  <a class="nav-item nav-link" href="#">Book a Meeting</a>
  {% endif %}
</nav>

{% endblock %}