{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
          <h3 align="center">Welcome {{ user.first_name }}, to your account!</h3>
    </div>
</div>
<nav class="nav nav-pills nav-fill">
  {% if request.user.is_superuser%}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-item nav-link" href="{% url 'account_email' %}">Change E-mail</a>
  <a class="nav-item nav-link" href="{% url 'add_program'%}">Add Program</a>
  <a class="nav-item nav-link" href="{% url 'programs'%}">Edit Programs</a>
  <a class="nav-item nav-link" href="">Add Partners</a>
  <a class="nav-item nav-link" href="">Edit Partners</a>
  <a class="nav-item nav-link" href="{% url 'user_management' profile.id  %}">User Management</a>
  {% else %}
  <a class="nav-item nav-link" href="#">My Profile</a>
  <a class="nav-item nav-link" href="{% url 'account_email' %}">Change E-mail</a>
  <a class="nav-item nav-link" href="#">My Purchases</a>
  <a class="nav-item nav-link" href="#">Book a Meeting</a>
  {% endif %}
</nav>
<hr>

<div class="row justify-content-center">    
    <div class="col-8">
        {% for user in all_users %}
        <a href="{% url 'user_management' user.id %}">{{ user.username}}</a>
        {% endfor %}
    </div>
    <div class="col-8">
        <form action="{% url 'user_management' user.id %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

{% endblock %}