{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
          <h3 align="center">Welcome {{ user.first_name }}, to your account!</h3>
    </div>
</div>
<nav class="nav nav-pills nav-fill">
  {% if request.user.is_superuser %}
  <a class="nav-item nav-link" href="{% url 'account' %}">My Profile</a>
  <a class="nav-item nav-link" href="{% url 'account_email' %}">Change E-mail</a>
  <a class="nav-item nav-link" href="{% url 'add_program'%}">Add Program</a>
  <a class="nav-item nav-link" href="{% url 'programs'%}">Edit Programs</a>
  <a class="nav-item nav-link" href="">Add Partners</a>
  <a class="nav-item nav-link" href="">Edit Partners</a>
  <a class="nav-item nav-link" href="{% url 'user_selection'  %}">User Management</a>
  {% else %}
  <a class="nav-item nav-link" href="{% url 'account' %}">My Profile</a>
  <a class="nav-item nav-link" href="#">My Purchases</a>
  <a class="nav-item nav-link" href="{% url 'add_testimonials' %}">Leave a Review</a>
  <a class="nav-item nav-link" href="{% url 'book_meeting' %}">Book a Meeting</a>
  {% endif %}
</nav>
<hr>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <form method="GET"> 
            <div class="input-group mb-3">
                <input type="text" class="form-control" id='search' name='search' placeholder="Search for users..." aria-label="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Find</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    {% for user in users %} 
    <div class="col-sm-4 cards">
        <div class="card">
            <p class="text-muted mb-2">Username:</p>
            <p><strong>{{ user.username }}</strong></p>
            <p class="text-muted mb-2">First name:</p>
            <p><strong>{{ user.first_name }}</strong></p>
            <p class="text-muted mb-2">Last name:</p>
            <p><strong>{{ user.last_name }}</strong></p>
            <p class="text-muted mb-2">Email:</p>
            <p><strong>{{ user.email}}</strong></p>
            <a href="{% url 'user_management' user.id %}" class="btn btn-danger mb-2">Edit / View User Details</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}