{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-4 mb-3">
        <h2><i>What do our customers say?</i> </h2>
    </div>
</div>
<div class="row justify-content-center">
    {% for testimonial in testimonials %}
    <div class="col-sm-4 cards">
        <div class="card">
          <div class="card-body">
            <p class="card-text"><i>"{{ testimonial.review }}"</i></p>
            <p class="card-text"><strong>{{ testimonial.profile.first_name}}</strong></p>
            <p class="card-text">I purchased "{{ testimonial.program_id}}"</p> 
            <p class="card-text">Rating: {{ testimonial.score }}</p>
            <p class="card-text">Review date: {{ testimonial.date }}</p> 
            {% if request.user.is_superuser %}
            <a class="btn btn-danger btn-primary" href="{% url 'delete_testimonials' testimonial.id %}">Delete</a>
            {% endif %}
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}