{% extends 'base.html' %}

{% block content %}


{% for testimonial in testimonials %}
<div class="col-sm-4 cards">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><i>"{{ testimonial.review }}"</i></p>
        <p class="card-text"><strong>{{ testimonial.user}}</strong></p>
        <p class="card-text">Reviewed Program: <br>{{ testimonial.program_id}}</p> 
        <p class="card-text">Rating: {{ testimonial.score }}</p>
        <p class="card-text">Review date: {{ testimonial.date }}</p> 
      </div>
    </div>
</div>
{% endfor %}


{% endblock %}