{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-8">
      <label>First Name:</label>
      <input class="textinput textInput form-control mb-2" readonly value="{{ profile.user.first_name }}"> 
      <label>Last Name:</label>
      <input class="textinput textInput form-control mb-2" readonly value="{{ profile.user.last_name }}"> 
      <label>Program to purchase:</label>
      <input class="textinput textInput form-control mb-2" readonly value="{{ program.name }}"> 
      <label>Program price:</label>
      <input class="textinput textInput form-control mb-2" readonly value="{{ program.price }}€"> 
      <form action="" method="POST">
          {% csrf_token %}
         {{ form | crispy }}
         <a href=""class="btn btn-dark">Back</a>
         <button type="submit" class="btn btn-success">Pay and confirm</button>
      </form>
    </div>
</div>

{% endblock %}