{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8 programs">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ programs.name }}</h5>
        <p class="card-text">Description: <br><br>  {{ programs.description }}</p>
        <p class="card-text">Length: {{ programs.type }}</p>
        <p class="card-text">Price: {{ programs.price }}€</p>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="#" class="btn btn-danger">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
        <a href="{% url 'programs' %}" class="btn btn-dark btn-primary">Back</a>
        <a href="#" class="btn btn-success btn-primary">Purchase</a>
        {% else %}
        <a href="{% url 'programs' %}" class="btn btn-dark btn-primary">Back</a>
        <a href="#" class="btn btn-success btn-primary">Purchase</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}