{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8 cards">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ programs.name }}</h5>
        <p class="card-text">Description: <br><br>  {{ programs.description }}</p>
        <p class="card-text">Length: {{ programs.type }}</p>
        <p class="card-text">Price: {{ programs.price }}€</p>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="{% url 'edit_program' programs.id %}" class="btn btn-danger">Edit</a>
        <a href="{% url 'delete_program' programs.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'programs' %}" class="btn btn-dark btn-primary">Back</a>
        {% else %}
        <form action="{% url 'add_to_cart' programs.id %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'programs' %}" class="btn btn-dark btn-primary">Back</a>
        <input type="submit" name="add" value="Add to cart" class="btn btn-success btn-primary"></input>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
{% for testimonial in programs.testimonials_set.all %}
    <div class="col-sm-4 cards">
        <div class="card">
          <div class="card-body">
            <p class="card-text"><i>"{{ testimonial.review }}"</i></p>
            <p class="card-text">Reviewed By: <strong>{{ testimonial.user.first_name}}</strong></p>
            <p class="card-text">I purchased "{{ testimonial.program_id}}"</p> 
            <p class="card-text">Rating: {{ testimonial.score }}</p>
            <p class="card-text">Review date: {{ testimonial.date }}</p> 
            {% if request.user.is_superuser %}
            <a class="btn btn-danger btn-primary" href="{% url 'delete_testimonials' testimonial.id %}">Delete</a>
            {% endif %}
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}